In [33]:
############################### Importation du fichier de données #######################################
import os
os.chdir('/Users/learegazzetti/Documents/Cours/M1_Info/Data_Mining_M1_Info/Projet')

import pandas
df = pandas.read_csv('data_avec_etiquettes.txt', sep = '\t')


#Vérifications de la cohérence des données
print(df.shape)
print(df.head())
print(df.info())


#outil pour mesurer le temps
import timeit
print(dir(timeit))

(494021, 200)
   V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  ...  V191  V192  V193  V194  V195  \
0   0   0   1   5   0   8   0   1   5    1  ...     9   1.0   0.0  0.11   0.0
1   0   0   1   1   1   7   0   1   8    1  ...    19   1.0   0.0  0.05   0.0
2   1   0   0   9   0   2   0   0   3    1  ...    29   1.0   0.0  0.03   0.0
3   0   0   0   5   0   3   1   0   0    0  ...    39   1.0   0.0  0.03   0.0
4   0   1   0   9   1   4   0   1   4    1  ...    49   1.0   0.0  0.02   0.0

   V196  V197  V198  V199  V200
0   0.0   0.0   0.0   0.0   m12
1   0.0   0.0   0.0   0.0   m12
2   0.0   0.0   0.0   0.0   m12
3   0.0   0.0   0.0   0.0   m12
4   0.0   0.0   0.0   0.0   m12

[5 rows x 200 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494021 entries, 0 to 494020
Columns: 200 entries, V1 to V200
dtypes: float64(15), int64(181), object(4)
memory usage: 753.8+ MB
None
['Timer', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_globals', 'default_number', 'default_repeat', 'default_timer', 'dummy_src_name', 'gc', 'itertools', 'main', 'reindent', 'repeat', 'sys', 'template', 'time', 'timeit']

In [34]:
############################### Exploitation d’un processeur multicœur avec H2O ############################
#importation de la librairie H2O
import h2o
#vérification de version
print(h2o.__version__)

#démarrage de la machine "h2o"
h2o.init(nthreads = -1)

3.32.0.2
Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "11" 2018-09-25; Java(TM) SE Runtime Environment 18.9 (build 11+28); Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11+28, mixed mode)
  Starting server from /Users/learegazzetti/opt/anaconda3/lib/python3.8/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/mv/sjmp9nkn3ps2fjvtx4mk81s80000gn/T/tmpqrpf_g9_
  JVM stdout: /var/folders/mv/sjmp9nkn3ps2fjvtx4mk81s80000gn/T/tmpqrpf_g9_/h2o_learegazzetti_started_from_python.out
  JVM stderr: /var/folders/mv/sjmp9nkn3ps2fjvtx4mk81s80000gn/T/tmpqrpf_g9_/h2o_learegazzetti_started_from_python.err
  Server is running at http://127.0.0.1:54329
Connecting to H2O server at http://127.0.0.1:54329 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Europe/Paris
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.2
H2O_cluster_version_age:    1 month and 10 days
H2O_cluster_name:           H2O_from_python_learegazzetti_c3r53l
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54329
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.5 final
--------------------------  ------------------------------------------------------------------

In [35]:
############################### Subdivision des données en échantillon test (test) et échantillon d'apprentissage (train)
import sklearn
from sklearn import model_selection
 
train,test = model_selection.train_test_split(df,test_size = round(df.shape[0]*30/100),random_state=1) 
#test_size=30% de 494021 
#random_state fixé à 1 pour pouvoir reproduire l'approche 

print(train.shape,test.shape)


train_h2o = h2o.H2OFrame(train)
test_h2o = h2o.H2OFrame(test)

(345815, 200) (148206, 200)
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [37]:
############################# Régression logistique multinomiale parce que la variable cible V200 possède 23 modalités

#importation de la régression généralisée
from h2o.estimators import H2OGeneralizedLinearEstimator
#instanciation - régression logistique multinomiale
modelH2o = H2OGeneralizedLinearEstimator(family="multinomial")

#modélisation
#apprentissage -- mesure du temps de calcul
depart = timeit.default_timer()
modelH2o.train(x=train_h2o.columns[0:-1:],y="V200",training_frame=train_h2o)
duree = timeit.default_timer()- depart
print(str(duree)+" sec.")

/Users/learegazzetti/opt/anaconda3/lib/python3.8/site-packages/h2o/estimators/estimator_base.py:200: RuntimeWarning: Dropping bad and constant columns: [V179, V178]
  warnings.warn(mesg["message"], RuntimeWarning)

glm Model Build progress: |███████████████████████████████████████████████| 100%
5538.9969850239995 sec.

In [5]:
#affichage par défaut
modelH2o.show()

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM_model_python_1609070993222_1


GLM Model: summary

,,family,link,regularization,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,multinomial,multinomial,"Elastic Net (alpha = 0.5, lambda = 9.882E-4 )",6302,104,30,Key_Frame__upload_81938391d7dc0915d304b4e2d9814956.hex

ModelMetricsMultinomialGLM: glm
** Reported on train data. **

MSE: 0.004571306724697665
RMSE: 0.06761143930355029

Scoring History:

,,timestamp,duration,iterations,negative_log_likelihood,objective,training_rmse,training_logloss,training_r2,training_classification_error
0,,2020-12-27 13:11:30,0.000 sec,0,373196.520092,1.079180,,,,
1,,2020-12-27 13:15:00,3 min 29.824 sec,1,35896.034889,0.118287,0.116453,0.103801,0.999191,0.0124257
2,,2020-12-27 13:17:39,6 min 9.069 sec,2,20875.896844,0.080829,0.0896672,0.0602216,0.99952,0.00933736
3,,2020-12-27 13:20:14,8 min 43.404 sec,3,12623.759069,0.058689,0.0862845,0.0351042,0.999556,0.00828767
4,,2020-12-27 13:22:45,11 min 15.007 sec,4,9482.740532,0.052077,0.0730246,0.0271642,0.999682,0.00566488
5,,2020-12-27 13:25:08,13 min 37.707 sec,5,9410.494007,0.049817,0.0695738,0.0251096,0.999711,0.00507497
6,,2020-12-27 13:27:12,15 min 42.323 sec,6,8464.182557,0.047184,0.0691617,0.0242268,0.999715,0.00483206
7,,2020-12-27 13:29:20,17 min 49.779 sec,7,8352.745870,0.046500,0.0685679,0.0239053,0.999719,0.00443301
8,,2020-12-27 13:32:10,20 min 40.373 sec,8,8374.922409,0.046264,0.0684203,0.0239754,0.999721,0.00440698
9,,2020-12-27 13:34:43,23 min 12.515 sec,9,8305.261521,0.046152,0.0682916,0.0237728,0.999722,0.0043636
10,,2020-12-27 13:37:11,25 min 41.318 sec,10,8322.894805,0.046075,0.068307,0.0238328,0.999722,0.00433469
11,,2020-12-27 13:39:52,28 min 21.974 sec,11,8290.634967,0.046002,0.0680837,0.0237328,0.999723,0.0042248
12,,2020-12-27 13:42:31,31 min 0.461 sec,12,8297.443749,0.045956,0.0680666,0.0237503,0.999724,0.00431155
13,,2020-12-27 13:45:38,34 min 7.501 sec,13,8269.354324,0.045913,0.0679412,0.0236686,0.999725,0.00421034
14,,2020-12-27 13:48:53,37 min 22.978 sec,14,8267.262600,0.045877,0.0679714,0.0236615,0.999724,0.00430866
15,,2020-12-27 13:51:51,40 min 20.801 sec,15,8252.466598,0.045848,0.0678674,0.0236174,0.999725,0.00420745
16,,2020-12-27 13:55:18,43 min 47.909 sec,16,8258.075261,0.045819,0.0679311,0.0236351,0.999725,0.00423059
17,,2020-12-27 13:58:41,47 min 11.355 sec,17,8249.079891,0.045797,0.0678544,0.0236078,0.999725,0.00421324
18,,2020-12-27 14:01:48,50 min 18.174 sec,18,8245.229602,0.045775,0.0678607,0.0235948,0.999725,0.00423059
19,,2020-12-27 14:05:10,53 min 39.746 sec,19,8242.084697,0.045758,0.0678074,0.0235847,0.999726,0.00421613

See the whole table with table.as_data_frame()

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0       V194             2.939942           1.000000    0.087097
1       V181             2.724798           0.926820    0.080723
2       V180             2.188166           0.744289    0.064825
3       V187             1.875135           0.637814    0.055552
4       V166             1.631881           0.555073    0.048345
5       V191             1.607437           0.546758    0.047621
6       V168             1.606357           0.546391    0.047589
7       V170             1.580410           0.537565    0.046820
8       V190             1.570953           0.534348    0.046540
9       V193             1.517309           0.516102    0.044951
10      V182             1.311045           0.445942    0.038840
11      V195             1.185692           0.403305    0.035127
12      V192             1.110975           0.377890    0.032913
13  V161.m20             0.904974           0.307820    0.026810
14   V160.m1             0.834549           0.283866    0.024724
15      V196             0.754059           0.256488    0.022339
16      V188             0.650132           0.221138    0.019260
17      V186             0.642239           0.218453    0.019027
18      V184             0.635269           0.216082    0.018820
19      V183             0.626982           0.213263    0.018575

See the whole table with table.as_data_frame()

In [6]:
#affichage complet des coefficients avec les tests de significativité
modelH2o.pprint_coef()

Coefficients: glm multinomial coefficients

,names,coefs_class_0,coefs_class_1,coefs_class_2,coefs_class_3,coefs_class_4,coefs_class_5,coefs_class_6,coefs_class_7,coefs_class_8,...,std_coefs_class_13,std_coefs_class_14,std_coefs_class_15,std_coefs_class_16,std_coefs_class_17,std_coefs_class_18,std_coefs_class_19,std_coefs_class_20,std_coefs_class_21,std_coefs_class_22
0,Intercept,-5.102720,-0.837175,-5.057877,1.262039,-12.060512,-11.655047,-5.329336,-6.771507,-11.367365,...,-7.930472,-5.241374,-7.659087,-8.007982,-7.198426,-10.451074,-5.667364,-9.288605,-10.9619,-11.144221
1,V161.m1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
2,V161.m10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
3,V161.m11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
4,V161.m12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
5,V161.m13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
6,V161.m14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
7,V161.m15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
8,V161.m16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
9,V161.m17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.453904,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
10,V161.m18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
11,V161.m19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
12,V161.m2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
13,V161.m20,0.517147,0.000000,0.000000,0.387827,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
14,V161.m21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
15,V161.m22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
16,V161.m23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
17,V161.m24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
18,V161.m25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
19,V161.m26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000

See the whole table with table.as_data_frame()

In [7]:
#Test de significativite globale du modele
#stat. test du rapport de vraisemblance
LR = modelH2o.null_deviance() - modelH2o.residual_deviance() 
print(LR)

729976.3874244669

In [8]:
#degrés de liberté
ddl = modelH2o.null_degrees_of_freedom() - modelH2o.residual_degrees_of_freedom()
print(ddl)

126

In [9]:
#librairie scipy
import scipy.stats as stats
#p-value de significativité globale
pvalue = 1.0 - stats.chi2.cdf(x=LR,df=ddl)
print(pvalue) #0.0 => Le modèle est globalement très significatif

0.0

In [10]:
#affichage matrice de confusion
modelH2o.confusion_matrix(train_h2o)

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

,m1,m10,m11,m12,m13,m14,m15,m16,m17,m18,...,m23,m3,m4,m5,m6,m7,m8,m9,Error,Rate
0,1483.0,0.0,0.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.035761,55 / 1 538
1,0.0,75029.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000133,10 / 75 039
2,0.0,0.0,0.0,154.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,1.000000,163 / 163
3,17.0,18.0,0.0,68009.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,42.0,0.0,0.0,0.0,0.002391,163 / 68 172
4,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2 / 2
5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,3 / 3
6,0.0,0.0,0.0,27.0,0.0,0.0,143.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.218579,40 / 183
7,0.0,70.0,0.0,53.0,0.0,0.0,0.0,498.0,0.0,107.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.315934,230 / 728
8,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,4 / 4
9,0.0,14.0,0.0,133.0,0.0,0.0,0.0,0.0,0.0,968.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.136485,153 / 1 121
10,0.0,0.0,0.0,54.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000275,54 / 196 520
11,2.0,1.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.521739,12 / 23
12,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,2 / 2
13,0.0,0.0,0.0,7.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.013575,9 / 663
14,2.0,0.0,0.0,415.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.592908,418 / 705
15,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.312500,5 / 16
16,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.800000,4 / 5
17,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,33.0,0.0,0.0,0.0,0.0,0.0,0.029412,1 / 34
18,0.0,3.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,10 / 10
19,0.0,0.0,0.0,85.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,775.0,0.0,0.0,0.0,0.098837,85 / 860

See the whole table with table.as_data_frame()

In [11]:
#prédiction sur l'échantillon test - format H2o obtenu
predm_h2o = modelH2o.predict(test_h2o)
#retro-convertir en Pandas
ppredm_h2o = predm_h2o.as_data_frame()
print(ppredm_h2o.head())

glm prediction progress: |████████████████████████████████████████████████| 100%

/Users/learegazzetti/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:70: UserWarning: Test/Validation dataset column 'V161' has levels not trained on: ["m45"]
  warnings.warn(w)

  predict        m1       m10       m11       m12           m13           m14  \
0     m19  0.000155  0.000062  0.000058  0.000496  5.319101e-08  7.978651e-08
1     m19  0.000248  0.000099  0.000093  0.000983  8.485699e-08  1.272855e-07
2     m10  0.000127  0.998665  0.000076  0.000259  6.369574e-08  9.554361e-08
3     m19  0.000155  0.000062  0.000058  0.000496  5.319101e-08  7.978651e-08
4     m19  0.000155  0.000062  0.000058  0.000496  5.319101e-08  7.978651e-08

        m15       m16           m17  ...       m21       m22       m23  \
0  0.000045  0.000014  1.063820e-07  ...  0.000003  0.000026  0.000004
1  0.000071  0.000023  1.697140e-07  ...  0.000005  0.000041  0.000007
2  0.000053  0.000014  1.273915e-07  ...  0.000004  0.000058  0.000005
3  0.000045  0.000014  1.063820e-07  ...  0.000003  0.000026  0.000004
4  0.000045  0.000014  1.063820e-07  ...  0.000003  0.000026  0.000004

         m3        m4            m5        m6            m7            m8  \
0  0.000003  0.000007  2.659550e-07  0.000027  8.498928e-07  1.595730e-07
1  0.000005  0.000011  4.242850e-07  0.000043  1.355856e-06  2.545710e-07
2  0.000004  0.000008  3.184787e-07  0.000033  1.017739e-06  1.910872e-07
3  0.000003  0.000007  2.659550e-07  0.000027  8.498928e-07  1.595730e-07
4  0.000003  0.000007  2.659550e-07  0.000027  8.498928e-07  1.595730e-07

             m9
0  1.329775e-07
1  2.121425e-07
2  1.592393e-07
3  1.329775e-07
4  1.329775e-07

[5 rows x 24 columns]

In [12]:
#matrice de confusion en test -- avec le seuil de H20
pandas.crosstab(test["V200"],ppredm_h2o.predict)

predict  m1   m10   m12  m15  m16  m18    m19  m2  m21  m22  m23  m4  m6  m7
V200
m1        3   130   131    0    1    0    364   0    0    1    0   0   0   0
m10      47  2599  2505    6   15   39   7001   1   28    8    0   1  28   1
m11       0    16    10    0    0    0     42   0    0    0    0   0   0   0
m12      82  4686  4090   16   28   69  11932   0   42   18    1   3  55   2
m13       0     0     0    0    0    0      1   0    0    0    0   0   0   0
m14       0     0     1    0    0    0      0   0    0    0    0   0   0   0
m15       0     9     6    0    0    0     14   0    0    0    0   0   0   0
m16       0    52    28    0    0    1    109   0    1    0    0   0   0   0
m17       0     0     2    0    0    0      2   0    0    0    0   0   0   0
m18       2    76    67    0    0    1    204   0    0    0    0   0   1   0
m19      51  2006  1851    3   16   19   5129   1   21    9    1   1  23   0
m2        0     1     0    0    0    0      1   0    0    0    0   0   0   0
m21       0    19    27    0    0    1     56   0    0    0    0   0   0   0
m22       2    63    64    0    0    0    178   0    1    0    0   0   0   0
m23       0     0     2    0    0    0      2   0    0    0    0   0   0   0
m3        0     0     0    0    0    0      3   0    0    0    0   0   0   0
m4        0     4     6    0    0    0      9   0    0    0    0   0   0   0
m5        0     1     0    0    0    0      1   0    0    0    0   0   0   0
m6        0    58    50    0    0    0    138   0    1    0    0   0   2   0
m7        0     1     0    0    0    0      6   0    0    0    0   0   0   0
m8        0     1     0    0    0    0      2   0    0    0    0   0   0   0
m9        0     0     1    0    0    0      1   0    0    0    0   0   0   0

In [13]:
#scikit-learn
from sklearn import metrics
#taux d'erreur
print(1-metrics.accuracy_score(test["V200"],ppredm_h2o.predict)) #0.004122640109037401

0.004122640109037401

In [14]:
############################# Selection de variables

#Contribution des variables dans le modele
contribution_variables = modelH2o._model_json['output']['variable_importances'].as_data_frame()
#contribution_variables[contribution_variables.relative_importance > 0]
print(contribution_variables)

    variable  relative_importance  scaled_importance  percentage
0       V194             2.939942           1.000000    0.087097
1       V181             2.724798           0.926820    0.080723
2       V180             2.188166           0.744289    0.064825
3       V187             1.875135           0.637814    0.055552
4       V166             1.631881           0.555073    0.048345
..       ...                  ...                ...         ...
268     V157             0.000000           0.000000    0.000000
269     V158             0.000000           0.000000    0.000000
270     V173             0.000000           0.000000    0.000000
271     V175             0.000000           0.000000    0.000000
272     V176             0.000000           0.000000    0.000000

[273 rows x 4 columns]

In [16]:
var_sel = contribution_variables.variable[contribution_variables.relative_importance>1]
print(var_sel)

0     V194
1     V181
2     V180
3     V187
4     V166
5     V191
6     V168
7     V170
8     V190
9     V193
10    V182
11    V195
12    V192
Name: variable, dtype: object

In [17]:
print(len(var_sel))

13

In [31]:
new_train = pandas.concat([train[var_sel.values],train['V200']],axis=1)
new_train_h2o = h2o.H2OFrame(new_train)

new_test = pandas.concat([test[var_sel.values],test['V200']],axis=1)
new_test_h2o = h2o.H2OFrame(new_test)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [32]:
print(new_train.shape)
print(new_test.shape)

(345815, 14)
(148206, 14)

In [19]:
#importation de la régression généralisée
from h2o.estimators import H2OGeneralizedLinearEstimator
#instanciation - régression logistique multinomiale
new_modelH2o = H2OGeneralizedLinearEstimator(family="multinomial")

In [20]:
#modélisation
#apprentissage -- mesure du temps de calcul
depart = timeit.default_timer()
new_modelH2o.train(x=new_train_h2o.columns[0:-1:],y="V200",training_frame=new_train_h2o)
duree = timeit.default_timer()- depart
print(str(duree)+" sec.")

glm Model Build progress: |███████████████████████████████████████████████| 100%

/Users/learegazzetti/opt/anaconda3/lib/python3.8/site-packages/h2o/job.py:70: UserWarning: Reached maximum number of iterations 50!
  warnings.warn(w)

953.7958849259994 sec.

In [21]:
#affichage par défaut
new_modelH2o.show()

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM_model_python_1609070993222_2


GLM Model: summary

,,family,link,regularization,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,multinomial,multinomial,"Elastic Net (alpha = 0.5, lambda = 9.882E-4 )",322,54,50,Key_Frame__upload_b285e41a61fc082f6460eb1330104d18.hex

ModelMetricsMultinomialGLM: glm
** Reported on train data. **

MSE: 0.007812481803338331
RMSE: 0.08838824471239562

Scoring History:

,,timestamp,duration,iterations,negative_log_likelihood,objective,training_rmse,training_logloss,training_r2,training_classification_error
0,,2020-12-27 14:51:47,0.000 sec,0,373196.520092,1.079180,,,,
1,,2020-12-27 14:52:14,27.582 sec,1,42347.626505,0.133971,0.129266,0.122457,0.999003,0.0146928
2,,2020-12-27 14:52:31,44.519 sec,2,18755.617274,0.074152,0.105546,0.0540851,0.999335,0.0136865
3,,2020-12-27 14:52:47,1 min 0.248 sec,3,13969.498812,0.061686,0.0900315,0.0401552,0.999516,0.00718014
4,,2020-12-27 14:53:02,1 min 15.257 sec,4,13192.142693,0.060033,,,,
5,,2020-12-27 14:53:16,1 min 29.538 sec,5,13160.357281,0.059483,0.0881881,0.0377634,0.999536,0.00718881
6,,2020-12-27 14:53:34,1 min 47.067 sec,6,13088.325254,0.059244,0.0881138,0.037555,0.999537,0.00719171
7,,2020-12-27 14:53:49,2 min 2.100 sec,7,13150.993258,0.059116,,,,
8,,2020-12-27 14:54:08,2 min 21.059 sec,8,13071.003534,0.059032,0.0883153,0.0375056,0.999535,0.00720327
9,,2020-12-27 14:54:24,2 min 37.104 sec,9,13122.848248,0.058971,0.0884742,0.0376539,0.999533,0.00720327
10,,2020-12-27 14:54:42,2 min 54.995 sec,10,13076.187173,0.058929,0.0884835,0.0375165,0.999533,0.00718881
11,,2020-12-27 14:54:59,3 min 11.833 sec,11,13090.582609,0.058893,0.0885081,0.0375603,0.999533,0.00720327
12,,2020-12-27 14:55:16,3 min 29.551 sec,12,13070.043270,0.058858,0.0885675,0.0375015,0.999532,0.00721195
13,,2020-12-27 14:55:33,3 min 46.511 sec,13,13066.116346,0.058841,0.0884935,0.0374851,0.999533,0.00720906
14,,2020-12-27 14:55:58,4 min 10.913 sec,14,13063.366213,0.058821,0.0885589,0.037478,0.999532,0.00721484
15,,2020-12-27 14:56:19,4 min 32.073 sec,15,13067.639823,0.058801,0.0885849,0.0374902,0.999532,0.00720906
16,,2020-12-27 14:56:38,4 min 50.876 sec,16,13055.495180,0.058779,0.0885839,0.0374516,0.999532,0.00721484
17,,2020-12-27 14:56:53,5 min 6.194 sec,17,13042.456525,0.058762,,,,
18,,2020-12-27 14:57:20,5 min 32.966 sec,18,13048.841091,0.058745,0.088559,0.0374267,0.999532,0.00722062
19,,2020-12-27 14:57:46,5 min 59.733 sec,19,13040.273012,0.058729,0.0885123,0.0374026,0.999532,0.00721484

See the whole table with table.as_data_frame()

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0      V194             3.734160           1.000000    0.127307
1      V181             3.665759           0.981682    0.124975
2      V187             3.185969           0.853196    0.108618
3      V193             2.584731           0.692185    0.088120
4      V170             2.512690           0.672893    0.085664
5      V180             2.417365           0.647365    0.082414
6      V191             2.187667           0.585853    0.074583
7      V166             1.806614           0.483807    0.061592
8      V168             1.694012           0.453653    0.057753
9      V190             1.650896           0.442106    0.056283
10     V192             1.502652           0.402407    0.051229
11     V182             1.274613           0.341339    0.043455
12     V195             1.114722           0.298520    0.038004

In [22]:
#affichage complet des coefficients avec les tests de significativité
new_modelH2o.pprint_coef()

Coefficients: glm multinomial coefficients

,names,coefs_class_0,coefs_class_1,coefs_class_2,coefs_class_3,coefs_class_4,coefs_class_5,coefs_class_6,coefs_class_7,coefs_class_8,...,std_coefs_class_13,std_coefs_class_14,std_coefs_class_15,std_coefs_class_16,std_coefs_class_17,std_coefs_class_18,std_coefs_class_19,std_coefs_class_20,std_coefs_class_21,std_coefs_class_22
0,Intercept,-6.432795,2.621662,-5.525733,-0.691605,-12.060512,-11.655047,-5.906241,-5.313284,-11.367365,...,-8.555608,-5.732598,-9.981071,-11.144221,-9.227299,-10.451074,-5.934581,-10.18871,-10.9619,-11.144221
1,V194,-0.808775,-2.165101,0.000000,-2.021662,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000000
2,V181,0.000000,0.001122,0.000000,-0.007094,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000000
3,V180,0.000000,0.000000,0.000000,47.605525,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.670995,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000000
4,V187,0.000000,-5.158159,0.000000,1.325129,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000000
5,V166,0.000000,0.000000,0.000000,-1.893575,0.000000,0.000000,4.839787,0.000000,0.000000,...,0.915220,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000000
6,V191,0.000000,-0.004963,0.000000,0.006762,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-0.450665,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000000
7,V168,0.560024,0.000000,0.000000,-1.645392,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000000
8,V170,2.335332,-1.152713,0.000000,0.717331,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.801575,0.000000,0.000000,0.000000,0.000000,-0.092053,0.00000,0.0000,0.000000
9,V190,0.006229,0.007433,0.000000,-0.000462,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-0.172106,0.000000,0.000000,0.000000,0.000000,-0.037901,0.00000,0.0000,0.000000
10,V193,-0.110693,-7.073579,2.228743,2.554720,0.000000,0.000000,0.000000,4.841787,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000000
11,V182,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000000
12,V195,0.000000,0.000000,3.362956,-1.320613,0.000000,0.000000,4.023434,0.000000,0.000000,...,0.000000,0.228241,0.000000,0.000000,0.000000,0.000000,0.502913,0.00000,0.0000,0.000000
13,V192,1.188908,-1.779363,0.000000,-0.159739,0.000000,0.000000,0.000000,-0.226436,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0000,0.000000

In [23]:
#Test de significativite globale du modele
#stat. test du rapport de vraisemblance
LR = new_modelH2o.null_deviance() - new_modelH2o.residual_deviance() 
print(LR)

720573.7782070863

In [24]:
#degrés de liberté
ddl = new_modelH2o.null_degrees_of_freedom() - new_modelH2o.residual_degrees_of_freedom()
print(ddl)

76

In [25]:
#librairie scipy
import scipy.stats as stats
#p-value de significativité globale
pvalue = 1.0 - stats.chi2.cdf(x=LR,df=ddl)
print(pvalue) #0.0 => Le modèle est globalement très significatif

0.0

In [26]:
#prédiction sur l'échantillon test - format H2o obtenu
new_predm_h2o = new_modelH2o.predict(new_test_h2o)
#retro-convertir en Pandas
new_ppredm_h2o = new_predm_h2o.as_data_frame()
print(new_ppredm_h2o.head())

glm prediction progress: |████████████████████████████████████████████████| 100%
  predict        m1       m10       m11       m12           m13           m14  \
0     m19  0.000175  0.000078  0.000061  0.000430  8.810481e-08  1.321572e-07
1     m19  0.000286  0.000121  0.000099  0.000946  1.437675e-07  2.156513e-07
2     m10  0.000146  0.996569  0.000078  0.001727  1.019603e-07  1.529405e-07
3     m19  0.000175  0.000078  0.000061  0.000430  8.810481e-08  1.321572e-07
4     m19  0.000175  0.000078  0.000061  0.000430  8.810481e-08  1.321572e-07

        m15       m16           m17  ...       m21       m22           m23  \
0  0.000041  0.000060  1.762096e-07  ...  0.000003  0.000024  7.048385e-07
1  0.000068  0.000098  2.875350e-07  ...  0.000005  0.000039  1.150140e-06
2  0.000048  0.000109  2.039207e-07  ...  0.000003  0.000076  8.156826e-07
3  0.000041  0.000060  1.762096e-07  ...  0.000003  0.000024  7.048385e-07
4  0.000041  0.000060  1.762096e-07  ...  0.000003  0.000024  7.048385e-07

             m3        m4            m5        m6            m7            m8  \
0  2.202620e-07  0.000001  4.405240e-07  0.000038  5.726812e-07  2.643144e-07
1  3.594188e-07  0.000002  7.188375e-07  0.000062  9.344888e-07  4.313025e-07
2  2.549008e-07  0.000002  5.098016e-07  0.000044  6.627421e-07  3.058810e-07
3  2.202620e-07  0.000001  4.405240e-07  0.000038  5.726812e-07  2.643144e-07
4  2.202620e-07  0.000001  4.405240e-07  0.000038  5.726812e-07  2.643144e-07

             m9
0  2.202620e-07
1  3.594188e-07
2  2.549008e-07
3  2.202620e-07
4  2.202620e-07

[5 rows x 24 columns]

In [27]:
#matrice de confusion en test -- avec le seuil de H20
pandas.crosstab(new_test["V200"],new_ppredm_h2o.predict)

predict  m1   m10   m12  m15  m18    m19  m21  m22  m6
V200
m1        3   132   131    0    0    364    0    0   0
m10      49  2611  2510    5   36   7002   28    6  32
m11       0    16    10    0    0     42    0    0   0
m12      84  4702  4121   13   57  11929   42   15  61
m13       0     0     0    0    0      1    0    0   0
m14       0     0     1    0    0      0    0    0   0
m15       0     9     6    0    0     14    0    0   0
m16       0    52    28    0    1    109    1    0   0
m17       0     0     2    0    0      2    0    0   0
m18       2    76    66    0    1    204    0    1   1
m19      52  2016  1860    2   18   5128   21    9  25
m2        0     1     0    0    0      1    0    0   0
m21       0    19    27    0    1     56    0    0   0
m22       2    63    64    0    0    178    1    0   0
m23       0     0     2    0    0      2    0    0   0
m3        0     0     0    0    0      3    0    0   0
m4        0     5     5    0    0      9    0    0   0
m5        0     1     0    0    0      1    0    0   0
m6        0    58    50    0    0    138    1    0   2
m7        0     1     0    0    0      6    0    0   0
m8        0     1     0    0    0      2    0    0   0
m9        0     0     1    0    0      1    0    0   0

In [28]:
#scikit-learn
from sklearn import metrics
#taux d'erreur
print(1-metrics.accuracy_score(new_test["V200"],new_ppredm_h2o.predict)) #0.007347880652605165

#Certes on a augmenté le taux d'erreur, mais il reste du même ordre de grandeur
#Et surtout on est passé de 274 variables à 58


#éteindre le moteur "h2o"
h2o.cluster().shutdown()

0.007347880652605165
H2O session _sid_b7a9 closed.